/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 25px;
    line-height: 1.8;
}

.impact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.impact div {
    text-align: center;
}

.impact img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.container ul li {
    font-size: 25px;
}